.education {
    &-item {
      border-left: 1px solid #f4f5f7;
      position: relative;
      padding: 32px 24px 8px 40px;
      margin-left: 35px;
  
      @media (min-width: 768px) {
        margin-left: 110px;
      }
  
      .education-icon {
        position: absolute;
        left: -1.3rem;
        width: 42px;
        text-align: center;
        font-size: 22px;
        background-color: #fff;
      }
  
      @media (min-width: 768px) {
        .education-date {
          position: absolute;
          left: -10rem;
          width: 7.5rem;
          text-align: right;
        }
      }
    }
  }
  